<div class="bodybox">
	<div class="compcontainer">
		<section>
			<h3> Download speed of the Angular <strong>Universal</strong> sites <strong>vs</strong> 
				the <strong>Regular</strong> site.
			</h3>
            
      <div class="vs">
		    <a class="btn btn-success" rel = "noopener" 
			    href='https://cars-a62b9.web.app/' target="_blank">
			      Regular (Client_Side_Rendering)
		    </a>
      </div>

      <div class="vs">
        <a class="btn btn-success" rel = "noopener"  
          href='https://cars-ssr-38499.web.app/' target="_blank">
			      Universal (Server_Side_Rendering) 
		    </a>
      </div> 

      <div class="vs">
        <a class="btn btn-success" rel = "noopener"  
          href='https://cars-prerendering.web.app/' target="_blank">
            Universal (Prerendering tech)
        </a>
      </div>
            
      <p>Click the buttons and look at the First Contentful Paint at the top.</p>
      <p>Average statistical index will be faster in Angular Universal.</p>
      <h3>What is <strong>First Contentful Paint</strong> ?</h3>
      <p>
      	The time it takes the browser to render the first part of DOM content (Images,
        SVGs, etc.) is known as First Contentful Paint (FCP).
      </p>
        
    </section>
	</div>
</div>
